@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.App {
  align-items: center;
  justify-content: center;
  height: 100vh; 
}
body {
  background-color: lightpink;
}
.title h1 {
  color: #3a3a3a;
  text-align: center;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
form {
  max-width: 500px;
  margin: 50px auto;
  background: #f9f9f9; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

form h3 {
  text-align: center;
  margin-bottom: 20px; 
}

form input {
  width: 100%;
  padding: 12px; 
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.input_container {
  margin-bottom: 20px;
  margin-right: 30px;
}

.btn_container {
  text-align: center;
}

.btn_container button {
  background: #6c63ff; 
  color: white;
  padding: 12px 24px; 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.btn_container button:hover {
  background: #5246ea; 
}

.todo_container {
  width: 80%; 
  margin: 50px auto; 
}

.todo {
  margin-top: 20px;
  background: #fff;
  padding: 15px 20px; 
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.todo input[type="text"] {
  cursor: pointer;
  flex: 1; 
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.todo input[type="text"]:focus {
  border-bottom: 2px solid #6c63ff; 
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
#i {
  font-size: 35px;
}
.button-complete {
  color: #95faa3;
  margin-right: 10px;
}
.button-edit {
  color: #56cfff;
  margin-right: 10px;
}
.button-delete {
  color: rgb(255, 122, 98);
}
@media screen and (max-width: 667px) {
  .task_container {
    width: 90%;
  }
  .task {
    margin-right: 0px;
  }
}
input:focus,
button:focus {
  outline: none;
}
button:hover {
  background-color: #555;
  color: white;
}